body{
    background-image: url("../images/abstract-old-grunge-stone-textures.jpg");
}
/*Top of Page Title Styling*/
#resources{
    display: flex;
}
.rUI{
    display: flex;
}
/*Game Panel Styling*/
/*Creates a flex box to allow the 2 game panels to display in line with each other*/
#gamePanels  {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    
}
/*Makes the 2 game panels take up the entire page*/
.panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#action-panel{
    display: flex;
    flex-direction: column;
}
#actions-title{
    text-align: center;
}

/*CSS for the created hero UI elements*/
.hero-info{
    display: flex;
    justify-content: space-evenly;
}

/*CSS for the created ORK UI elements*/
.orkEl{
    display: flex;
    justify-content: space-evenly;
}

#title{
    display: flex;
}

.yh-subpanel{
    height: 33%;

}
.ra-panel{
    position: fixed;
    top: 50%;
    left: 0;
}

#credits{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

