/*Creates a flex box to allow the 2 game panels to display in line with each other*/
.gamePanels  {
    display: flex;
    justify-content: space-evenly;
}
/*Makes the 2 game panels take up the entire page*/
.panel{
    flex-grow: 1;
}
#action-panel{
    display: flex;
    flex-direction: column;
}
#actions-title{
    text-align: center;
}

/*CSS for the created hero UI elements*/
.hero-info{
    display: flex;
    justify-content: space-evenly;
}